@tailwind base;
@tailwind components;
@tailwind utilities;

/* SYNTX Global Style Kalibrierung */
/* HIER SIND KEINE @apply BLÖCKE */
html,
body {
    /* Fügt h-full und w-full hinzu */
    @apply h-full w-full;
}
